# Database Configuration
POSTGRES_URL=jdbc:postgresql://localhost:5432/japanese_immersion_hub
POSTGRES_DB=japanese_immersion_hub
POSTGRES_USER=your-db-name
POSTGRES_PASSWORD=your-db-password
POSTGRES_PORT=your-db-port
PORT=your-server-port

CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
REDIRECT_URI=your_redirect_uri
GRANT_TYPE=your_grant_type


# PgAdmin Configuration
PGADMIN_EMAIL=your-local-email2login
PGADMIN_PASSWORD=your-local-password
PGADMIN_PORT=5050
