# Database Configuration
POSTGRES_DB=japanese_immersion_hub
POSTGRES_USER=your-db-name
POSTGRES_PASSWORD=your-db-password
POSTGRES_PORT=your-db-port

# PgAdmin Configuration
PGADMIN_EMAIL=your-local-email2login
PGADMIN_PASSWORD=your-local-password
PGADMIN_PORT=5050